---
interface Props {
  lang: "ja" | "en";
}

const { lang } = Astro.props;

const base = import.meta.env.BASE_URL.replace(/\/$/, "");

const menus = {
  ja: [
    { name: "概要", url: `${base}/ja/overview` },
    { name: "制御環境", url: `${base}/ja/environment` },
    { name: "制御モデル学習", url: `${base}/ja/control_model` },
  ],

  en: [
    { name: "Overview", url: `${base}/en/overview` },
    { name: "Environment", url: `${base}/en/environment` },
    { name: "Conrol Model", url: `${base}/en/control_model` },
  ],
};

const siteName = {
  ja: "吊り荷 Yaw 制御",
  en: "Payload Yaw Control",
};

const currentMenus = menus[lang];
---
<header>
  <div class="container">
    <h1>
      <a href={`${base}/${lang}/`}>
        {siteName[lang]}
      </a>
    </h1>

    <div class="header-bottom">
      <nav class="main-nav">
        {
          currentMenus.map((menu) => (
            <a href={menu.url}>{menu.name}</a>
          ))
        }
      </nav>

      <nav class="language-nav" aria-label="言語切替">
        <a
          href={`${base}/ja/`}
          aria-current={lang === "ja" ? "page" : undefined}
        >
          日本語
        </a>

        <span>/</span>

        <a
          href={`${base}/en/`}
          aria-current={lang === "en" ? "page" : undefined}
        >
          English
        </a>
      </nav>
    </div>
  </div>
</header>

<style>
  header .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-nav {
    display: flex;
    gap: 32px;
  }

  .language-nav {
    display: flex;
    align-items: center;
    gap: 12px;
  }

</style>
